<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SAFMarket - Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <div style="text-align: center;">
            <h1>SAFMarket - Reset Password</h1>
            <p>You requested a password reset.</p>
            <p>Click the link below (or copy/paste it) in order to create a new password:</p>
            <p><a href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>
            <p>Note that this link is valid for {{ token_expiration }} hours.</p>
        </div>
    </body>
</html>
